@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgba(245 208 254 / 0.5);
  --foreground: rgb(112, 26, 117);
  --personalF-100: #f0abfc; /* maps roughly to fuchsia-400 */
  --personalF-200: #e879f9; /* fuchsia-500 */
  --personalF-300: #d946ef; /* fuchsia-600 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(112, 26, 117);
    --foreground: rgb(245 208 254 / 0.5);
    --personalF-100: #e0a0ff; /* darker variant */
    --personalF-200: #c77dff;
    --personalF-300: #a855f7;
  }
}

html {
  background: var(--background);
  color: var(--foreground);
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  color: var(--foreground);
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  transition:
    background-color 0.3s,
    color 0.3s;
}
